<h1>Add a Category</h1>

<form action = "/categories" method = "post">
  <label for = "newCategory">Category name</label>
  <input id = "newCategory" name = "newCategory" type="text"></input>

  <button type="submit" class = "btn">Submit</button>
</form>
